.container {
    display: grid;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.header {
    color: rgb(226, 83, 39);
}
.containerHomePage {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}

.containerHomePage .homeFlexBox {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.header img {
    width: 150px;
    height: 150px;
    border-radius: 50px;
}

.header button {
    color: black;
    background-color: #D10408;
    padding: 10px;
    border-radius: 16px;
}

.header button:hover {
    color: red;
    cursor: pointer;
    background-color: #8A5428;
}

.card {
    background-color: fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 450px;
    width: 780px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.imag {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.card img {
    width: 25x;
    height: 50px;
}